<% provide :header, 'About' %>

<div class="row">
  <div class="col-xs-12 text-left about">
    <p>This page is an exercise in building advanced forms with Ruby on Rails. It completes the <%= link_to 'Advanced Forms', 'http://www.theodinproject.com/ruby-on-rails/building-advanced-forms' %> chapter of the Ruby on Rails section of
    <%= link_to 'The Odin Project', 'http://www.theodinproject.com' %>, an open source curriculum for teaching web development.</p>
    <p>My name is Hubert Pompecki. To see more of my work, including a Twitter clone, an event management app and chess written in Ruby, please visit my <%= link_to 'GitHub profile', 'https://github.com/hp-4k' %>.</p>
  </div>
</div>